@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');

.feedback-form {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 8px;
}

.last {
  margin-bottom: 16px;
}

.form-item label {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  text-align: start;
}

.form-item input,
.form-item textarea {
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.form-item button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-item input:hover,
.form-item textarea:hover {
  border-color: #000000;
}

.form-label--message textarea {
  height: 80px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-buttonss {
  display: flex;
  justify-content: center;
  background-color: #4e75ff;
  color: #ffffff;
  width: 95px;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}

.form-buttonss:hover {
  background-color: #6c8cff;
}

textarea::placeholder {
  opacity: 0;
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: opacity 0.2s ease;
}
textarea:focus::placeholder {
  opacity: 1;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #2e2f42;
}
